*{
    box-sizing: border-box;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/portada_center1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("../images/tools.jpeg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/vehicle-vintage.jpg");
    min-height: 400px;
}

/* Quarter image (Contact) */
.bgimg-4 {
    background-image: url("../images/foco.jpeg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

.w3-top{
    z-index:1001;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-4 {
        background-attachment: scroll;
        min-height: 400px;
    }
}



/*******************************************************/

.ta-color-primary{
    color: #e66a16;
}

.ta-border-b-primary{
    border-bottom: 1px solid #e66a16;
}

.ta-margin-0{
    margin: 0;
}

.ta-button:hover{
    color: #e66a16 !important;
}

.ta-deep-orange, .ta-hover-deep-orange:hover {
    color: #000!important;
    background-color: #e66a16!important;
}

.ta-color-7{
    color: #777777 !important;
}

.ta-padding-t-64{
    padding-top:64px;
}

.ta-padding-b-64{
    padding-bottom:64px;
}

.ta-padding-t-32{
    padding-top:32px;
}

.ta-padding-b-32{
    padding-bottom:32px;
}

.ta-padding-t-16{
    padding-top:16px;
}

.ta-padding-b-16{
    padding-bottom:16px;
}


.ta-offset-s0 {
    margin-left: 0%;
}

.ta-offset-s1 {
    margin-left: 8.333333%;
}
  
.ta-offset-s2 {
margin-left: 16.666667%;
}

.ta-offset-s3 {
margin-left: 25%;
}

.ta-offset-s4 {
margin-left: 33.333333%;
}

.ta-offset-s5 {
margin-left: 41.666667%;
}

.ta-offset-s6 {
margin-left: 50%;
}

.ta-offset-s7 {
margin-left: 58.333333%;
}

.ta-offset-s8 {
margin-left: 66.666667%;
}

.ta-offset-s9 {
margin-left: 75%;
}

.ta-offset-s10 {
margin-left: 83.333333%;
}

.ta-offset-s11 {
margin-left: 91.666667%;
}

#ta-btnToUp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 16px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
}


/*Cookie Consent Begin*/
#popupCook {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#popupCook a {
    color: #4B8EE7;
    text-decoration: none;
}
#closePopupCook {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closePopupCook:hover {
    color: #FFF;
}
#popupCook a.popupCookOK {
    background-color: #ffb400;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 60px 0 10px;
}
#popupCook a.popupCookOK:hover {
    background-color: #ffb400;
}
/*Cookie Consent End*/



/***************************** Media Queries *************************************/

@media (max-width: 600px){
    .ta-display-middle-full {
        left:0;
        right: 0;
        transform: translate(0%,-50%);
    }
    .ta-mobile{
        padding-top: 16px;
        padding-bottom: 64px;
    }

}

@media (min-width:601px) {

    .w3-col.ta-m6{
        width: 50%;
    }

    .ta-offset-m0 {
        margin-left: 0;
    }
    .ta-offset-m1 {
        margin-left: 8.333333%;
    }
    .ta-offset-m2 {
        margin-left: 16.666667%;
    }
    .ta-offset-m3 {
        margin-left: 24.99999%;
    }
    .ta-offset-m4 {
        margin-left: 33.333333%;
    }
    .ta-offset-m5 {
        margin-left: 41.666667%;
    }
    .ta-offset-m6 {
        margin-left: 50%;
    }
    .ta-offset-m7 {
        margin-left: 58.333333%;
    }
    .ta-offset-m8 {
        margin-left: 66.666667%;
    }
    .ta-offset-m9 {
        margin-left: 75%;
    }
    .ta-offset-m10 {
        margin-left: 83.333333%;
    }
    .ta-offset-m11 {
        margin-left: 91.666667%;
    }

}


@media (max-width: 993px) and (min-width: 601px) {  
    .w3-mobile {
        display: block;
        width: 100%!important;
    }
    .ta-mobile{
        padding-top: 16px;
        padding-bottom: 64px;
    }

}

@media (min-width: 993px) {

    .w3-col.ta-l3{
        width: 24.99999%;
    }

    .ta-offset-l0 {
        margin-left: 0;
    }
    .ta-offset-l1 {
        margin-left: 8.333333%;
    }
    .ta-offset-l2 {
        margin-left: 16.666667%;
    }
    .ta-offset-l3 {
        margin-left: 24.99999%;
    }
    .ta-offset-l4 {
        margin-left: 33.333333%;
    }
    .ta-offset-l5 {
        margin-left: 41.666667%;
    }
    .ta-offset-l6 {
        margin-left: 50%;
    }
    .ta-offset-l7 {
        margin-left: 58.333333%;
    }
    .ta-offset-l8 {
        margin-left: 66.666667%;
    }
    .ta-offset-l9 {
        margin-left: 75%;
    }
    .ta-offset-l10 {
        margin-left: 83.333333%;
    }
    .ta-offset-l11 {
        margin-left: 91.666667%;
    }

}